<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.appium.uiautomator2.server.test"
        >

  <uses-sdk
          android:minSdkVersion="19"
          android:targetSdkVersion="25" />

  <instrumentation
          android:label="Tests for io.appium.uiautomator2.server"
          android:name="android.support.test.runner.AndroidJUnitRunner"
          android:targetPackage="#targetPackage#"
          android:handleProfiling="false"
          android:functionalTest="false" />

  <application
          android:debuggable="true">

    <uses-library
            android:name="android.test.runner" />
  </application>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.REORDER_TASKS" />
  <uses-permission android:name="android.permission.CAMERA" />

</manifest>
